
body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea, button {
    padding: 8px;
    font-size: 1em;
}

th:first-child, td:first-child,
th:last-child, td:last-child { 
    width: 1%;
    white-space: nowrap;
}

td:first-child {
    color: #777;
    font-size: 0.9em;
}

button {
    border: 2px solid #4338CA;
    background-color: transparent;
    color: #4338CA;
    
    padding: 10px 15px;
    font-size: 1em;
    font-weight: bold;
    
    border-radius: 8px;
    
    transition: background-color 0.3s, color 0.3s;
    
    cursor: pointer;
    
    margin: 5px;
}

button:hover {
    background-color: #4338CA;
    color: white;
}

form button[type="submit"] {
    background-color: #4338CA;
    color: white;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #31289c;
    border-color: #31289c;
}

button.delete-btn {
    border-color: #E57373;
    color: #E57373;
}

button.delete-btn:hover {
    background-color: #E57373;
    color: white;
}

a {
    color: #4338CA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4338CA;
}